<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>english training.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9897CD83CE68627128197F8CF540A8A98673C248</string>
				<key>dateExpires</key>
				<string>2021/9/25</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6WCFCSF7YH.k.pixnet.en-practice</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6WCFCSF7YH</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>6WCFCSF7YH.k.pixnet.en-practice</string>
				</array>
			</dict>
			<key>name</key>
			<string>english training.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>18a0f136-0f7b-4499-877e-36c430725b02</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: k.pixnet.en-practice</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6WCFCSF7YH</string>
				<key>name</key>
				<string>PIXNET Digital Media Corp.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
